<!-- My Skills Section -->
<div class="container py-4" style="margin-top: 70px;">
    <div class="row">
        <div class="col-md-8">
            <h3 class=" mb-3" style="font-family: Georgia, 'Times New Roman', Times, serif; font-size:xx-larger; font-weight: bold;">My Skills</h3>
            <p style="font-family: 'Times New Roman', Times, serif; font-size: larger;">
                <span class="fw-bold ">Python:</span> Expertise in Python programming, creating efficient and clean code, and solving complex problems with elegant solutions.</p>
            <p style="font-family: 'Times New Roman', Times, serif; font-size: larger;">
                <span class="fw-bold ">Django:</span> Building web applications using Django, including custom user models, admin interfaces, authentication systems, and more.</p>
            <p style="font-family: 'Times New Roman', Times, serif; font-size: larger;">
                <span class="fw-bold ">Django Rest Framework:</span> Designing and developing RESTful APIs with DRF, ensuring secure, high-performing, and scalable services.</p>
            <p style="font-family: 'Times New Roman', Times, serif; font-size: larger;">
                <span class="fw-bold ">MySQL:</span> Experience in managing relational databases, writing complex queries, and optimizing database performance for large-scale applications.</p>
            <p style="font-family: 'Times New Roman', Times, serif; font-size: larger;">
                <span class="fw-bold ">HTML/CSS:</span> Proficient in crafting responsive and accessible web pages using HTML5 and CSS3, with a focus on clean, semantic markup and styling.</p>
            <p style="font-family: 'Times New Roman', Times, serif; font-size: larger;">
                <span class="fw-bold ">AngularJS:</span> Developing dynamic and reactive single-page applications (SPAs) with AngularJS, ensuring smooth user interaction and performance.</p>
        </div>
        <div class="col-md-3 d-flex flex-wrap align-items-center">
            <img class="img-fluid m-2" src="../../../assets/django.png" alt="Django" style="max-height: 110px; ">
            <img class="img-fluid m-2" src="../../../assets/mysql1.png" alt="MySQL" style="max-height: 110px;">
            <img class="img-fluid m-2" src="../../assets/htmlcss.png" alt="html and css" style="max-height: 110px;">
            <img class="img-fluid m-2" src="../../../assets/angular.jpeg" alt="Angular" style="max-height: 110px;">
            <img class="img-fluid m-2" src="../../../assets/git.png" alt="Git" style="max-height: 110px;">
        </div>
    </div>
</div>

<!-- What I Do Section -->
<div class="container py-4">
    <div class="row">
        <div class="col-md-12">
            <h3 class=" mb-3" style="font-family: 'Times New Roman', Times, serif; font-size: xx-large; font-weight: bold;">What I Do</h3>
            <p style="font-family: 'Times New Roman', Times, serif; font-size: larger;">
                <span class="fw-bold ">Web Development:</span> I build responsive and modern websites and web applications with a focus on usability, performance, and aesthetics.</p>
            <p style="font-family: 'Times New Roman', Times, serif; font-size: larger;">
                <span class="fw-bold ">API Design:</span> I specialize in designing clean, well-documented, and efficient RESTful APIs for frontend-backend integration.</p>
            <p style="font-family: 'Times New Roman', Times, serif; font-size: larger;">
                <span class="fw-bold ">Database Management:</span> I design and optimize database schemas, write efficient SQL queries, and ensure the integrity of data in applications.</p>
        </div>
    </div>
</div>
  




<!-- <div class="container-myskills">
    <div class="left">
        <h3>My Skills</h3>
        <p><span class="highlight">Python:</span> Expertise in Python programming, creating efficient and clean code, and solving complex problems with elegant solutions.</p>
        <p><span class="highlight">Django:</span> Building web applications using Django, including custom user models, admin interfaces, authentication systems, and more.</p>
        <p><span class="highlight">Django Rest Framework:</span> Designing and developing RESTful APIs with DRF, ensuring secure, high-performing, and scalable services.</p>
        <p><span class="highlight">MySQL:</span> Experience in managing relational databases, writing complex queries, and optimizing database performance for large-scale applications.</p>
        <p><span class="highlight">HTML/CSS:</span> Proficient in crafting responsive and accessible web pages using HTML5 and CSS3, with a focus on clean, semantic markup and styling.</p>
        <p><span class="highlight">AngularJS:</span> Developing dynamic and reactive single-page applications (SPAs) with AngularJS, ensuring smooth user interaction and performance.</p>
        <img class="image" src="../../../assets/django.png" alt="">
        <img class="image" src="../../../assets/mysql1.png" alt="">
        <img class="image"src="../../../assets/angular.jpeg" alt="">
        <img class="image"src="../../../assets/git.png" alt="">
    </div>
</div>


<div class="container-whatido">
    <div class="left">
        <h3>What I Do</h3>
        <p><span class="highlight">Web Development:</span>I build responsive and modern websites and web applications with a focus on usability, performance, and aesthetics.</p>
        <p><span class="highlight">API Design:</span> I specialize in designing clean, well-documented, and efficient RESTful APIs for frontend-backend integration.</p>
        <p><span class="highlight">Database Management:</span> I design and optimize database schemas, write efficient SQL queries, and ensure the integrity of data in applications.</p>        
    </div>
</div>
 -->
