<nav class="navbar navbar-expand-lg py-2 fixed-top" style="background-color: #80f57c; z-index: 1;">
    <div class="container">
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-body">
          <p class="heading " style="font-family: 'Times New Roman', Times, serif; font-weight: bold;">Welcome to my portfolio</p>
  
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 header-font">
            <li class="nav-item active">
              <a data-bs-dismiss="offcanvas" class="nav-link" style="font-weight: bold;" routerLink="home" (click)="home()" routerLinkActive="custom-active">Home</a>
            </li>
            <li class="nav-item active">
              <a data-bs-dismiss="offcanvas" class="nav-link" style="font-weight: bold;" routerLink="myskills" (click)="myskills()" routerLinkActive="custom-active">My Skills</a>
            </li>
            <li class="nav-item active">
              <a data-bs-dismiss="offcanvas" class="nav-link" style="font-weight: bold;" routerLink="projects" (click)="projects()" routerLinkActive="custom-active">Projects</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  



