<div class="container">
    <div class="left" >
        <h3><strong>About Me</strong></h3>
        <p>Hi! I'm Mamatha Vanga, a passionate and dedicated web developer with a strong foundation in backend and frontend technologies. I specialize in creating scalable and efficient applications with a keen eye for design and functionality. With a deep understanding of modern web technologies, I focus on building seamless user experiences while ensuring robust performance.

            I am well-versed in working with Python and Django, leveraging Django Rest Framework to design and build RESTful APIs. My goal is to develop backend systems that are both reliable and maintainable. On the frontend, I use Angular to craft interactive and responsive user interfaces, ensuring an enjoyable experience for users across all devices.</p>

   
    </div>
    
    <div class="right">
        <img src="assets/images.jpeg" alt="Image Description">
    </div>
</div>



<!-- <div class="container-myskills">
    <div class="left">
        <h3>My Skills</h3>
        <p><span class="highlight">Python:</span> Expertise in Python programming, creating efficient and clean code, and solving complex problems with elegant solutions.</p>
        <p><span class="highlight">Django:</span> Building web applications using Django, including custom user models, admin interfaces, authentication systems, and more.</p>
        <p><span class="highlight">Django Rest Framework:</span> Designing and developing RESTful APIs with DRF, ensuring secure, high-performing, and scalable services.</p>
        <p><span class="highlight">MySQL:</span> Experience in managing relational databases, writing complex queries, and optimizing database performance for large-scale applications.</p>
        <p><span class="highlight">HTML/CSS:</span> Proficient in crafting responsive and accessible web pages using HTML5 and CSS3, with a focus on clean, semantic markup and styling.</p>
        <p><span class="highlight">AngularJS:</span> Developing dynamic and reactive single-page applications (SPAs) with AngularJS, ensuring smooth user interaction and performance.</p>
        <img class="image" src="../../../assets/django.png" alt="">
        <img class="image" src="../../../assets/mysql1.png" alt="">
        <img class="image"src="../../../assets/angular.jpeg" alt="">
        <img class="image"src="../../../assets/git.png" alt="">
        
        
    </div>
</div>


<div class="container-whatido">
    <div class="left">
        <h3>What I Do</h3>
        <p><span class="highlight">Web Development:</span>I build responsive and modern websites and web applications with a focus on usability, performance, and aesthetics.</p>
        <p><span class="highlight">API Design:</span> I specialize in designing clean, well-documented, and efficient RESTful APIs for frontend-backend integration.</p>
        <p><span class="highlight">Database Management:</span> I design and optimize database schemas, write efficient SQL queries, and ensure the integrity of data in applications.</p>
        <p>jkfhsofhidsj                                            mndkf            jkojfpfkfd,fdlgrkj</p>
    </div>
</div> -->